opencl-intel/tests/mic_device_test_type/cpu_device_test_type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="CPUDeviceTestConfig">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="TestCases">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TestCase" maxOccurs="unbounded">
								<xs:complexType>
                  <xs:attribute name="Name" type="xs:string"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
